<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tianshu.dao.mapper.ShowMapper">
  <resultMap id="CostResultMap" type="com.example.tianshu.dao.model.CostDTO">
    <result property="district"  column="district"/>
    <result property="source"  column="source"/>
    <result property="cost"  column="cost"/>
  </resultMap>

  <resultMap id="salesVolumeMap" type="com.example.tianshu.dao.model.salesVolumeDTO">
    <result property="annualSales" column="annualSales"/>
    <result property="historicalSales" column="historicalSales"/>
    <result property="monthklySales" column="monthklySales"/>
    <result property="dailySales" column="dailySales"/>
  </resultMap>

  <resultMap id="SoldItemResultMap" type="com.example.tianshu.dao.model.SoldItemDTO">
    <result property="district" column="district"/>
    <result property="source" column="source"/>
    <result property="totalprice" column="totalprice"/>
    <result property="name" column="name"/>
    <result property="instime" column="instime"/>
    <result property="number" column="number"/>
    <result property="price" column="price"/>
    <result property="total_sales" column="total_sales"/>
  </resultMap>

  <resultMap id="VisitorResultMap" type="com.example.tianshu.dao.model.VisitDTO">
    <result property="visitNum" column="visitNum"/>
    <result property="visitPeopleNum" column="visitPeopleNum"/>
  </resultMap>

  <select id="searchsoldpropbydis" resultMap="SoldItemResultMap">
    SELECT a.district,
           SUM(a.number * a.price) AS totalprice
    FROM solded_item a
    GROUP BY a.district;
  </select>

  <select id="searchsoldpropbytype" resultMap="SoldItemResultMap">
    SELECT
      a.source,
      b.sourceName,
      SUM(a.number * a.price) AS totalprice
    FROM
      solded_item a
        LEFT JOIN
      dm_source b ON a.source = b.source
    GROUP BY
      a.source, b.sourceName;
  </select>


  <select id="searchSales" resultMap="salesVolumeMap">
    SELECT
      SUM(CASE WHEN DATE(instime) = CURDATE() THEN number * price ELSE 0 END) AS dailySales,
      SUM(CASE WHEN YEAR(instime) = YEAR(CURDATE()) AND MONTH(instime) = MONTH(CURDATE()) THEN number * price ELSE 0 END) AS monthklySales,
      SUM(CASE WHEN YEAR(instime) = YEAR(CURDATE()) THEN number * price ELSE 0 END) AS annualSales,
      SUM(number * price) AS historicalSales
    FROM solded_item;
  </select>

  <select id="inventoryRateQuery" resultMap="CostResultMap">
    select sum(cost) as cost from cost where source = '2'
  </select>

  <select id="weeklysoldQuery" resultMap="SoldItemResultMap">
  <![CDATA[
    SELECT
      name,
      price,
      number,
      instime,
      SUM(price * number) AS total_sales
    FROM solded_item
    WHERE instime >= CURDATE() - INTERVAL (DAYOFWEEK(CURDATE()) - 3) DAY
      AND instime < CURDATE() + INTERVAL (9 - DAYOFWEEK(CURDATE())) DAY
    GROUP BY name, price, number, instime
    order by instime;
    ]]>
</select>

  <select id="monthlySalesTrendChart" resultMap="SoldItemResultMap">
    SELECT instime, sum(price * number) as totalPrice
    FROM solded_item
    WHERE instime >= CURDATE() - INTERVAL 1 MONTH
    group by instime
    ORDER BY instime;
</select>

<select id="visitTodayNum" resultMap="VisitorResultMap">
  SELECT count(ip) as visitPeopleNum,SUM(visit_count) as visitNum FROM visitor
  WHERE DATE(visit_date) = CURDATE();
</select>

<select id="visitTotalNum" resultMap="VisitorResultMap">
    SELECT count(ip) as visitPeopleNum,SUM(visit_count) as visitNum FROM visitor
</select>

</mapper>